*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
    color: white;

    
}
.hero{
    background-size:cover;
    background-position:center;
     background-color:black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: rgb(10, 8, 8);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
} 
span{
    color:white;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 25px ;
}
nav ul li a{
    color: rgb(223, 214, 214);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
color: #060b0b;
transition:.4s;
}
.btn{
background-color:  #41a1a1;
color: rgb(6, 5, 5);
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 10px 25px ;
border-radius: 30px;
transition: transform .4s;

}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0 20px ;
    font-size: 70px;
}
h3{
 color:white ;
 margin-bottom: 50px;
 font-size: 25px;   
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position:relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px ;
    border: 2px solid  #1ddcd9 ;
    border-radius: 30px;
    background-color: transparent;
}
.newslatter form input:last-child{
   position:absolute;
   display: inline-block;
   outline: none;
   border: none;
   padding: 10px 30px ;
   border-radius: 30px;
   background-color: #0dd5d2;
   color: white;
   box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
   top: 6px;
   right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 300px;
    margin-right: 10px;
    border-radius: 10px;
    filter:drop-shadow(18px 18px 0px  #0dd5d2);
    filter:contrast(150%) 

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color: white;
    text-transform: capitalize;
    font-size:75px ;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #fcfc;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}
button{
    background-color: #0dd5d2;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 13px ;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
background-color: transparent;
border: 2px solid #0dd5d2;
cursor:pointer;
}
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    margin: 30px auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width:335px ;
    border-radius: 20px;
    padding: 20px 35px;
    background:#191919;
     margin: 15px;
    position:relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size:50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #0dd5d2;

}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.pra .button{
    background-color: #0dd5d2;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px ;
    border-radius: 30px;
    transition: .4s;  
}
.pra .button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}
.contact_me{
    width: 100%;
    height: 290px;
    background : #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact_me p{
    font-size: 30px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
}
.contact_me .button-two{
    background-color: #0dd5d2;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 13px ;
    border-radius: 30px;
    transition: .4s;   
}
.contact_me .button-two:hover{
    background: transparent;
    border : 2px solid #0dd5d2
    cursor pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom:20px;
    font-weight: bold;
}
footer p:nth-child(2){
    width: 500px;
    color: white;
    font-size:17px;
   
    text-align: center; 
}
